---
import Button from "../components/Button.astro";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import ProjectCard from "../components/ProjectCard.astro";
import SkillCard from "../components/SkillCard.astro";
import Title from "../components/Title.astro";
import About from "../components/About.astro";
import Greeting from "../components/Greeting.astro";
import Themeicon from "../components/Themeicon.astro";
import "../styles/theme.css"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image" href="/icons/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name='description' content="Portfolio"/>
		<title>Ozkar · Codes</title>
	</head>
	<body>
		<header><Navbar /></header>
		<main>
			<section class="about">
				<Themeicon/>
				<img src='images/Oz.jpg' alt='profile picture'/>
				<article>
					<Greeting text="Hi!, I'm Oscar Aragón"/>
					<Title text='Software Developer from El Salvador'/>
				</article>
				<Button message='Download CV' icon='/icons/download.svg' link='../api/resume.pdf'/>
			</section>
			<section class="skills">
				<Title text='Skills & Technologies'/>
				<section>
					<SkillCard 
						title='Python'
						description='Automating processes with Python and its different libraries'
						icon='/icons/python.svg'
					/>
					<SkillCard 
						title='Django'
						description='I work on backend web development using Django and have also completed small Rest API projects using FastAPI.'
						icon='/icons/django.svg'
					/>
					<SkillCard 
						title='Java'
						description="I've worked on university projects using Java and have some knowledge of the Spring Framework."
						icon='/icons/java.svg'
					/>
					<SkillCard
						title='Web Development'
						description='I specialize in web development using technologies like HTML, CSS, and JavaScript, and I built this site using the Astro Framework.'
						icon='/icons/web-dev.svg'
					/>
					<SkillCard 
						title='GIT'
						description='I manage version control systems using GIT, Github, and Gitlab.'
						icon='/icons/GIT.svg'
					/>
					<SkillCard 
						title='Databases'
						description='I have experience with databases such as PostgreSQL and MySQL.'
						icon='/icons/database.svg'
					/>
				</section>
			</section>
			<section class="work">
				<Title text='My Projects'/>
				<section>
					<ProjectCard 
					title='Library WebApp'
					description='I developed a library web system for managing users, books, authors, publishers, and loans using Python and the Django Framework.'
					link='https://github.com/oscar503sv/library-django'
					/>
					<ProjectCard 
						title='To-do list'
						description='I created a to-do list project using Python and the Flask Framework.'
						link='https://github.com/oscar503sv/flask-sqlite-todoapp'
					/>
					<ProjectCard 
						title='CRUD Rest API'
						description='I implemented a CRUD application using Python with FastAPI, which also utilizes the SQLAlchemy library for database interaction.'
						link='https://github.com/oscar503sv/crud-fastapi'
					/>
				</section>
			</section>
			<section class="contact">
				<Title text='About me'/>
				<About text="I'm primarily a backend-focused software developer with expertise in Python, but I also have some experience in frontend development. I'm currently pursuing a degree in computer science engineering and expanding my proficiency in the JavaScript language."/>
				<Button message='Send Message' icon='/icons/email.svg' link='mailto:oscararagon.hdz@gmail.com'/>
			</section>
		</main>
		<Footer />
	</body>
</html>

<style>
	* {
		margin: 0;
		padding: 0;
		font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		box-sizing: border-box;
	}

	main {
		margin: 50px auto 0 auto;
		max-width: 1020px;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 100px;
	}

	.about {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 40px;
		width: 100%;
		height: calc(100vh - 50px);
		text-align: center;
		border-bottom: 1px solid rgb(30, 30, 30, 0.3);
		padding: 0 20px;
	}

	.about > img {
		width: 150px;
		border-radius: 9999px;
		object-fit: cover;
	}

	.about > article {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 50px;
		width: 100%;
		align-items: center;
		border-bottom: 1px solid rgb(30, 30, 30, 0.3);
		padding: 0px 20px 100px 20px;
	}

	.skills > section {
		display: flex;
		gap: 40px;
		flex-wrap: wrap;
		justify-content: center;
	}

	.work {
		display: flex;
		flex-direction: column;
		gap: 50px;
		width: 100%;
		align-items: center;
		border-bottom: 1px solid rgb(30, 30, 30, 0.3);
		padding: 0px 20px 100px 20px;
	}
	
	.work > section {
		display: flex;
		gap: 40px;
		flex-wrap: wrap;
		justify-content: center;
	}

	.contact {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 40px;
		width: 100%;
		padding: 0px 20px 100px 20px;
	}

	@media screen and (max-width: 700px) {
		main {
			margin: 0 auto;
		}

		.about {
			height: 80vh;
		}

		.about > img {
			width: 100px;
		}
	}
</style>
